<h1>Lines Index</h1>

<%= render('layouts/errors', :object => @line) %>

<ul>
  <% @lines.each do |l| %>
    <li><%= link_to "#{l.name}", line_path(l) %></li>
  <% end %>
</ul>

<%= link_to "Create Line", new_line_path, :class => "btn btn-primary" %>
<%= link_to "Station View", stations_path, :class => "btn btn-info" %>
